<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{template/template.html}">
<head>
    <title>Dodaj <produkt></produkt></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/menu :: menu">
</div>

<div layout:fragment="content">
    <div class="container mt-5">
        <h3 class="mb-4">Admin panel:</h3>
    <form action="#" th:action="@{/addProduct}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Nazwa produktu:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nazwa produktu" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Cena produktu:</label>
            <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Cena produktu" th:field="*{unitPrice}">
        </div>
        <button type="submit" class="btn btn-primary">Dodaj produkt</button>
    </form>
    </div>
</div>

</body>
</html>
