<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/template.html}">
<head>
    <title>Edytuj produkt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/menu :: menu">
</div>

<div layout:fragment="content">
    <div class="container mt-5">
        <form action="#" th:action="@{/saveProduct}" th:object="${product}" method="post">
            <div class="form-group" display="none">
                <input type="text" class="form-control" id="exampleId" aria-describedby="emailHelp"
                       placeholder="Id" th:field="*{id}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nazwa produktu:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Nazwa produktu" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Cena produktu:</label>
                <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
                       placeholder="Cena produktu" th:field="*{unitPrice}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Kategoria:</label>
                <select class="form-control" th:field="*{category}">
                    <option th:each="city : ${selectCategories}"
                            th:value="${city.id}"
                            th:text="${city.name}">
                        Address
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Dostawca:</label>
                <select class="form-control" th:field="*{supplierID}">
                    <option th:each="supplier : ${selectSuppliers}"
                            th:value="${supplier.id}"
                            th:text="${supplier.companyName}">
                        Address
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</html>
