<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/template.html}">
<head>
    <title>Edytuj kategorię</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/menu :: menu">
</div>

<div layout:fragment="content">
    <div class="container mt-5">
        <form action="#" th:action="@{/saveCategory}" th:object="${category}" method="post">
            <div class="form-group" display="none">
                <input type="text" class="form-control" id="exampleId" aria-describedby="emailHelp"
                       placeholder="Id" th:field="*{id}" style="display: none">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nazwa kategorii:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Nazwa kategorii" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Opis kategorii:</label>
                <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
                       placeholder="Opis kategorii" th:field="*{description}">
            </div>
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
    </div>
</div>
</body>
</html>
