<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/template.html}">
<head>
    <title>Edytuj dostawcę</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/menu :: menu">
</div>

<div layout:fragment="content">
    <div class="container mt-5">
        <form action="#" th:action="@{/dashboard/saveSupplier}" th:object="${supplier}" method="post">
            <div class="form-group" display="none">
                <input type="text" class="form-control" id="exampleId" aria-describedby="emailHelp"
                       placeholder="Id" th:field="*{id}" style="display: none">
            </div>
            <div class="form-group">
                <label for="name">Nazwa dostawcy:</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                       placeholder="Nazwa dostawcy"
                       th:field="*{companyName}">
            </div>
            <div class="form-group">
                <label for="price">Kontakt:</label>
                <input type="text" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Kontakt"
                       th:field="*{contactName}">
            </div>
            <div class="form-group">
                <label for="title">Tytuł:</label>
                <input type="text" class="form-control" id="title" aria-describedby="emailHelp"
                       placeholder="Tytuł" th:field="*{contactTitle}">
            </div>
            <div class="form-group">
                <label for="adress">Adres: </label>
                <input type="text" class="form-control" id="adress" aria-describedby="emailHelp"
                       placeholder="Adres" th:field="*{address}">
            </div>
            <div class="form-group">
                <label for="city">Miasto: </label>
                <input type="text" class="form-control" id="city" aria-describedby="emailHelp" placeholder="Miasto"
                       th:field="*{city}">
            </div>
            <div class="form-group">
                <label for="region">Region: </label>
                <input type="text" class="form-control" id="region" aria-describedby="emailHelp"
                       placeholder="Region" th:field="*{region}">
            </div>
            <div class="form-group">
                <label for="postalcode">Kod pocztowy: </label>
                <input type="text" class="form-control" id="postalcode" aria-describedby="emailHelp"
                       placeholder="Kod pocztowy" th:field="*{postalCode}">
            </div>
            <div class="form-group">
                <label for="country">Kraj: </label>
                <input type="text" class="form-control" id="country" aria-describedby="emailHelp"
                       placeholder="Kraj" th:field="*{country}">
            </div>
            <div class="form-group">
                <label for="contactnumber">Numer kontaktowy: </label>
                <input type="text" class="form-control" id="contactnumber" aria-describedby="emailHelp"
                       placeholder="Numer kontaktowy" th:field="*{phone}">
            </div>
            <div class="form-group">
                <label for="fax">Fax: </label>
                <input type="text" class="form-control" id="fax" aria-describedby="emailHelp" placeholder="Fax"
                       th:field="*{fax}">
            </div>
            <div class="form-group">
                <label for="homepage">Strona internetowa: </label>
                <input type="text" class="form-control" id="homepage" aria-describedby="emailHelp"
                       placeholder="Strona internetowa" th:field="*{homePage}">
            </div>
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
    </div>
</div>
</body>
</html>
