<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="d-flex justify-content-center mt-4" th:fragment="filters">
        <form class="form-inline" action="#" th:action="@{/findProducts}" th:object="${findProducts}" method="post">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input type="text" th:field="*{name}" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Nazwa produktu">

            <button type="submit" class="btn btn-success px-5 mb-2">Wyszukaj</button>
        </form>

    </div>

</body>
</html>
