<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{template/template.html}">
<head>
    <title>Sklepik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/menu :: menu">
</div>

    <div layout:fragment="content">
        <div th:replace="fragments/filters :: filters" th:object="${findProducts === null} ? {} : ${findProducts}"></div>
        <div th:replace="fragments/products :: products" th:object="${products}"></div>
    </div>

</body>
</html>
