<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="supplier">
    <form action="#" th:action="@{/addSupplier}" th:object="${supplier}" method="post">
        <div class="form-group">
            <label for="name">Nazwa dostawcy:</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nazwa kategorii" th:field="*{companyName}">
        </div>
        <div class="form-group">
            <label for="price">Kontakt:</label>
            <input type="text" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Opis kategorii" th:field="*{contactName}">
        </div>
        <div class="form-group">
            <label for="title">Tytuł:</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Nazwa kategorii" th:field="*{contactTitle}">
        </div>
        <div class="form-group">
            <label for="adress">Adres: </label>
            <input type="text" class="form-control" id="adress" aria-describedby="emailHelp" placeholder="Opis kategorii" th:field="*{address}">
        </div>
        <div class="form-group">
            <label for="city">Miasto: </label>
            <input type="text" class="form-control" id="city" aria-describedby="emailHelp" placeholder="Nazwa kategorii" th:field="*{city}">
        </div>
        <div class="form-group">
            <label for="region">Region: </label>
            <input type="text" class="form-control" id="region" aria-describedby="emailHelp" placeholder="Opis kategorii" th:field="*{region}">
        </div>
        <div class="form-group">
            <label for="postalcode">Kod pocztowy: </label>
            <input type="text" class="form-control" id="postalcode" aria-describedby="emailHelp" placeholder="Opis kategorii" th:field="*{postalCode}">
        </div>
        <div class="form-group">
            <label for="country">Kraj: </label>
            <input type="text" class="form-control" id="country" aria-describedby="emailHelp" placeholder="Opis kategorii" th:field="*{country}">
        </div>
        <div class="form-group">
            <label for="contactnumber">Numer kontaktowy: </label>
            <input type="text" class="form-control" id="contactnumber" aria-describedby="emailHelp" placeholder="Opis kategorii" th:field="*{phone}">
        </div>
        <div class="form-group">
            <label for="fax">Fax: </label>
            <input type="text" class="form-control" id="fax" aria-describedby="emailHelp" placeholder="Opis kategorii" th:field="*{fax}">
        </div>
        <div class="form-group">
            <label for="homepage">Strona internetowa: </label>
            <input type="text" class="form-control" id="homepage" aria-describedby="emailHelp" placeholder="Opis kategorii" th:field="*{homePage}">
        </div>
        <button type="submit" class="btn btn-primary">Dodaj kategorie</button>
    </form>
</div>
</div>
</body>
</html>
